/* Container */
.industries-container {
    padding: 50px 50px 0;
    color: #ffffff;
    text-align: center;
  }
  
  .industries-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .industries-description {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #aaa;
  }
  
  /* Grid Layout */
  .industries-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
    /* gap: 20px; */
  }

  /* Card Styling */
.industry-card {
  position: relative;
  background: radial-gradient(circle, #323335 -62.94%, #171717 -62.92%, rgba(90, 90, 90, 0) 54.42%, #323335 174.24%);
  padding: 60px;
  padding-top: 0;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: hidden; */
  z-index: 1;
}

.industry-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(90deg, #F57A00, #7103A4);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
}

.industry-card:hover {
  transform: scale(1.1);
  box-shadow: none;
}

.industry-card:hover::before {
  opacity: 1;
}

  
  .industry-icon {
    font-size: 3rem;
    color: #ff6600;
    margin-bottom: 15px;
    position: relative;
    z-index: 10;
  }
  
  .industry-title {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .industry-description {
    font-size: 1rem;
    color: #ccc;
  }
  

  @media (max-width:1280px){
    .column-one{
      width: 52% !important;
      padding-right: 30px !important;
    }
    .column-two{
      width: 48% !important;
    }  
  }

  @media (max-width: 768px) {
    .industries-grid{
      grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    }
    .column-one{
      width: 100% !important;
    }
    .column-two{
      width: 100% !important;
    } 
  }